.main {
			    background-color: #358cff;
			    height: 400px;
			    margin: 100px auto;
			    min-width: 320px;
			    width: 320px;
			    -webkit-box-shadow: 5px 5px 20px 7px rgba(0, 0, 0, 0.46);
			    -moz-box-shadow: 5px 5px 20px 7px rgba(0, 0, 0, 0.46);
			    box-shadow: 5px 5px 20px 7px rgba(0, 0, 0, 0.46);
			    border-radius: 5px;
		}
		.title {
			color:#fff;
			font-size: 24px;
			text-align: center;
			padding-top:15px;
		}
		.btn-default {
			width: 60px;
			height: 50px;
			margin: 4px;
			background-color: #fff;
			border-radius: 5px;
			border:1px solid transparent;
			cursor: pointer;
			float:left;
		}
		.btn-default:hover {
			color: #333;
		    background-color: #e6e6e6;
		    border-color: #adadad;
		}
		.space-buttons {
			width: 280px;
			margin:0 auto;
		}
		.ce {
			color: #fff;
		    background-color: #d9534f;
		    border-color: #d43f3a;
		}
		.ce:hover {
			background-color: #d43f3a;
			border-color: #d43f3a;
			color:#fff;
		}
		#output {
			    border-radius: 5px;
		    border: 1px solid grey;
		    background-color: white;
		    margin-left: 6px;
		    margin-right: 6px;
		    padding: 0 5px;
		    height: 50px;
		    margin-bottom: 6px;
		    width: 265px;
		    box-sizing:border-box;
		    margin-left: 25px;
		}
		#p-output {
			float: right;
			margin-right: 10px;
		}